@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

.App {
  text-align: center;
  font-size: 13pt;
}

.site-title {
    font-family: 'Fredericka the Great';
    font-size: 35pt;
}
