@media (max-width: 350px) {
    .navbar {
        width: 100%;
        padding: 15px 5px;
    }
}

.site-title {
    font-family: 'Fredericka the Great';
    font-size: 35pt;
    color: #e1dcc5 !important;
}
