.home {
    position: relative;
    height: 55vh;
}

/* Search Bar */
#search {
    width: 95%;
    display: flex;
    margin-top: 25px;
    margin-left: 2.5vw;
    justify-content: center;
}

.search-before {
    position: absolute;
    top: 50%;
}

.input:focus,
.input:hover,
.fields:focus,
.fields:hover {
    outline: none;
    box-shadow: 0 0 5px #000;
}

.input {
    width: 35vw;
    height: 45px;
    border-right: none;
    padding-left: 15px;
    border-radius: 5px 0 0 5px;
}

.input:focus {
    width: 36.5vw;
}

.fields {
    width: 80px;
    height: 45px;
    border-left: none;
    text-align: center;
    background-color: #e2dcc552;
    border-radius: 0 5px 5px 0;
}

.search-button {
    height: 44px;
    background-color: #343a40;
    width: 100px;
}

.search-button:hover {
    background-color: #17a2b8;
    cursor: inherit !important;
}

.search-button:focus {
    outline: none;
}

@media (max-width: 400px) {
    .search-before {
        margin-left: 7px;
    }

    .input {
        width: 50vw;
    }

    .search-button {
        width: 70px;
        margin-right: 0;
    }

    .fields {
        width: 55px;
    }
}

/* Search Results */
.search-results {
    width: 90%;
    margin: 15px auto;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
}

@media (max-width: 350px) {
    .search-results {
        width: 100%;
    }

    .book-list {
        padding: 15px;
    }
}

/* Book Result div */
.book {
    width: 250px;
    height: 475px;
    margin: 15px 20px;
    padding-top: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.book-cover {
    margin: 10px auto;
    text-align: center;
    overflow: hidden;
    width: 200px;
    height: 289px;
}

.book-title, .book-author {
    margin: 0;
    overflow: hidden;
}

.book-title {
    height: 60px;
    font-weight: 700;
    font-size: 1.1rem;
}

.book-author {
    height: 30px;
}

.published-year {
    margin: 0 auto 5px auto;
}

.add-button {
    margin: 0;
    width: 100%;
    height: 35px;
    border: none;
    padding: 0;
    color: #fff;
    border-radius: 0 0 5px 5px;
    background-color: rgb(3, 118, 184);
}

.published-year {
    font-size: 0.8em;
}
